/**
 * 租户中心整体的样式文件
 */
@import "../../style/scss/variate.scss";

.divSection{
  height: 800px;
  background-image: url($divSectionBackgroundUrl);
}

//租户中心背景图上文字动画
.lesseebg-font{
	animation: kf-tanentfont 4s;
	@keyframes kf-tanentfont{
		from {opacity:0;}
		to {opacity:1;}
	}
}
