.divSection{
  height: 900px;
}
//租户中心背景图上文字动画
.lesseebg-font{
	animation: kf-tanentfont 4s;
	@keyframes kf-tanentfont{
		from {opacity:0;}
		to {opacity:1;}
	}
}
//监控菜单样式
.lesseemonitor-menu{
	margin-left: 150px;
	margin-top: 10px;
	li{
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		a{
			color: #000000;
			
		}
		.active{
			color: #2DB7F5;
		}

	}
}