/*
* @Author: LiuLei
* @Date:   2016-09-19 10:18:54
* @Last Modified by:   Administrator
* @Last Modified time: 2016-09-21 16:42:30
*/

.footer{
	.register{
		position:relative;
		img{
			width: 1349px;
			display: block;
		}
		a{
			display:block;
			width:90px;
			height:33px;
			position:absolute;
			top:47px;
			left:723px;
		}
	}
	.about{
		height:310px;
		background-color:#413C37;
		padding-top: 20px;
		li{
			margin-top: 20px;
			font-size: 12px;
			color: #A99888;
			a{
				color: #A99888;
			}
		}
		.title{
			color: #FFFFFF;
			font-weight: 20;
			font-size: 14px;
		}
	}
}